@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}

/* Style navbar section */
    /* primary-color:#FEA301;
    --secondary-color:#01ACFD;
    --ternary-color:#05D4DF;
    --fourth-color:#5D58EF; */
.color-1{
    color:#FEA301;
}
.color-2{
    color:#01ACFD;
}
.color-3{
    color:#05D4DF;
}
.color-4{
    color:#5D58EF;
}
.btn-primary{
    background-color: #FEA301;
    padding: 10px 50px;
    border: none;
    border-radius: 12px;
    font-weight:600 ;
    font-size: 1.25rem;
    color: white;
}
.display-flex{
   display: flex;
}
.logo img{
    height: 62px;
    width: 52px;
}
.logo-title{
    font-weight: 700;
    font-size: 2rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 20px 140px;
}
.logo{
    gap: 11px;
    align-items: center;
}
.nav-link{
     text-decoration: none;

}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.hamburger-icon{
    height: 20px;
    width: 20px;
    display: none;
}


/* Style Banner section */
.banner{
    margin: 122px 138px 16px 144px;
    /* max-width: 850px; */
    /* margin: 0 auto; */
    /* text-align: center; */
    /* margin-bottom: 50px; */

}
.banner-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
}
.btn-secondary{
    background-color: black;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 700;
}
.banner-img{
    max-width: 100%;
    height: auto;
}


/* Responsive for mobile device */

@media screen and (max-width:480px)
{
    .nav-links-container{
        display: none;
    }
    .logo-title{
        display: none;
    }
    .btn-primary{
        display: none;
    }
    .hamburger-icon{
        display: block;
    }
    .navbar{
        margin: 0 auto;
    }
    .banner-img-container{
        order: -1;
        height:400px ;
        width:300px ;
        margin-bottom: 50px;
    }
    .banner{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}