@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}

/* Style navbar section */
    /* primary-color:#FEA301;
    --secondary-color:#01ACFD;
    --ternary-color:#05D4DF;
    --fourth-color:#5D58EF; */
.color-1{
    color:#FEA301;
}
.color-2{
    color:#01ACFD;
}
.color-3{
    color:#05D4DF;
}
.color-4{
    color:#5D58EF;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    background-color: #FEA301;
    padding: 10px 50px;
    border: none;
    border-radius: 12px;
    font-weight:600 ;
    font-size: 1.25rem;
    color: white;
}
.display-flex{
   display: flex;
}
.logo img{
    height: 62px;
    width: 52px;
}
.logo-title{
    font-weight: 700;
    font-size: 2rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 20px 140px;
}
.logo{
    gap: 11px;
    align-items: center;
}
.nav-link{
     text-decoration: none;

}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.hamburger-icon{
    height: 20px;
    width: 20px;
    display: none;
}


/* Style Banner section */
.banner{
    max-width: 1440px;
    margin:0 auto;
    /* margin: 122px 138px 16px 144px; */
    /* max-width: 850px; */
    /* margin: 0 auto; */
    /* text-align: center; */
    /* margin-bottom: 50px; */

}
.banner-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
}
.btn-secondary{
    background-color: black;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 700;
}
.banner-img{
    max-width: 100%;
    height: auto;
}


/* style curriculum section */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.bg-image{
    background-image: url('../assets/bg.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px 60px;
    /* margin: 122px 138px 16px 144px; */
    /* color:#fff; */
}
.curriculum{
    max-width: 1440px;
    margin: 0 auto;
}

.curriculum-title{
    margin-top:70px;
     font-weight: 700;
     font-size: 2.75rem;
     text-align: center;
}

.curriculum-card-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28px;
}
.curriculum-card{
    border: none;
    border-radius: 18px;
    /* max-width: 365px; */
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.box1{
    background:linear-gradient(to top,#FFFFFF 40%,#DEF5FF);
}
.box2{
    background: linear-gradient(to top,#FFFFFF 40% ,#FFF4DC);
}
.box3{
    background: linear-gradient(to top,#FFFF 40% ,#F2E8FF);
}
.curriculum-card img{
    height: 140px;
    width: 140px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.card-description{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    /* margin-bottom: 10px; */
}
.card1-btn{
    color:#64C8FF;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    margin-top: 33px;
}
.card2-btn{
    color:#F0AA00;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    margin-top:15px;
}
.card3-btn{
    color:#8700FF;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    margin-top: 33px;
}
.arrow-btn{
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid tomato; */
}
.btn1{
    margin-top: 80px;
    background-color: #FEA301;
    color: white;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 600;
}
.btn2{
    margin-top: 80px;
    background-color: #FEA301;
    color: white;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 600;
}
/* Responsive for mobile device */

@media screen and (max-width:576px)
{
    .nav-links-container{
        display: none;
    }
    .logo-title{
        display: none;
    }
    .btn-primary{
        display: none;
    }
    .hamburger-icon{
        display: block;
    }
    .navbar{
        margin: 0 auto;
        border-bottom: 2px solid orange;
    }
    .banner-img-container{
        order: -1;
        height:400px ;
        width:300px ;
        margin-bottom: 50px;
    }
    .banner{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /* Responsive curriculum section */
    
     .curriculum-card-container{
        grid-template-columns: 1fr;
        margin-bottom: 10px;
     }
     .curriculum-title{
        font-size: 1.5rem;
     }
     .arrow-btn{
        display: none;
     }
}